


// background
$bg-gray-50: #F3F3F3FF;

//  colors
$gray-800: #212121FF;
$gray-700: #212529;
$gray-600: #00000019;
$gray-500: #0000000C;
$gray-50: #F3F3F3FF;

$yellow-500: #FFCE00FF;
$red-500: #FE4880FF;


// fonts
$font-md-14: 14px;